html{
allowtransparency: "true";	
	background-color: black;
	color: white;
}

#main{
	
}

#sidebar{
	
}

#header{
	top: 0;
	left: 0;
	width: 100%;
	height: 130;
	background-color: red;
	color: white;
}

#footer{
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50;
	background-color: red;
	position: relative;
}
